.modal_visible {
    transform: translateY(-50%);
    height: 150px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
}

.form-button {
    color: black;
    width: 50%;
    align-self: center;
}

.modal_invisible {
    display: none;
}