.chat-inputArea {
    width: 100%;
    display: flex;
}

.chat-input {
    flex: 1 1 auto;
    height: 70px;
    resize: none;
    margin: 5px 5px 15px 15px;
    border-radius: 5px;
    background-color: #22c1c3
}

.chat-button {
    width: 70px;
    height: 70px;
    align-self: center;
    margin: 5px 15px 15px 5px;
    border: none;
    background-color: #9abe78;
    color: black;
    border-radius: 10px;
}