.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat {
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  border: 5px solid black;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 18%, rgba(135,190,126,1) 28%, rgba(154,190,120,1) 51%, rgba(163,189,107,1) 72%, rgba(253,187,45,1) 100%);
}